<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
   <p>
    Splurty was built by <a target="_blank" href="http://github.com/kbanico">Ken</a> An aspiring web developer in training.
  </p>
  <br />
  <p>
    Ken is working hard to learn how to program, learn to make web applications, and to become a full stack web developer.
  </p>
  <p>
    Ken has done two small apps that is on Google play. And even though he is on a tiny little island called Guam. He has no fear to do things he loves, which is coding.
  </p>

  <div class="col-xs-12 col-sm-4">
    <a href="https://play.google.com/store/apps/details?id=com.kjdesigns.c1471000635957&hl=en"><%=image_tag "https://lh3.googleusercontent.com/SjNKHf4rUYHBxuElqgTvavZ65mgX7uSbGfrIkjf_9qbYXfUsb4H8kKdQvsWqLzBM15s=h900-rw", class: "img-responsive" %></a>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Animal Chelu</h2>
    <br>
    <p>Adventures with Atani: Can you help Atani defeat the Zombie by choosing the right animal in chamorro.Have your kids learn chamorro with our APP Animal Chelu. With 24 levels to help your kids remember the animal name. Nice Cartoon Visuals your kids will enjoy. Support Local App made by a team of Chelus and Chelas</p>
  </div>

  <br class="clear">

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <a href="https://play.google.com/store/apps/details?id=com.sirenaStory.c1467975884137&hl=en"><%= image_tag 'https://lh3.googleusercontent.com/pUtOP1OlNARlfX5G9nAxMz6DvlHepygwLifcXJzyESTCOK2QPh79BpZ6WIrMX9kGAA=h310-rw', class: 'img-responsive' %></a>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Adventures With Atani</h2>
    <br />
    <p>
      Meet Atani from the beautiful island of Guam, Guam is part of the US Territorial islands, located in the Pacific Ocean. Atani will be taking you on different adventures, in this adventure she will take you through the story of the Legend of Guam's Mermaid also known as Serena. Hope you enjoy it.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

